    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    select{
        padding-right: 2.5rem !important;
    }
    
    .gold{
        background-color: gold;
    }

    .greenYellow{
        background-color: rgb(61, 211, 74);
    }

    .redHeart{
        background-color: red;
    }

    .active_menu{
      border: #8c6daf;
    }

    .read_only{
      background: lightgray;
    }

    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .text-red{
        color: red;
    }

    .btn-info {
        color: #fff;
        background-color: #36b9cc;
        border-color: #36b9cc;
      }
      .btn-primary {
        color: #fff;
        background-color: #4e73df;
        border-color: #4e73df;
      }
      .btn-warning {
        color: #fff;
        background-color: #f6c23e;
        border-color: #f6c23e;
      }
      .btn-danger {
        color: #fff;
        background-color: #e74a3b;
        border-color: #e74a3b;
      }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        color: #fff;
        text-decoration: none;
        background-color: #337ab7;
        outline: 0;
      }
      .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
      }

      .containerr {
        height: 100vh;
        width: 100vw;
        font-family: Helvetica;
        position: fixed;
        /* left: 50%;
        top: 50%; */
        z-index: 1000000!important;
        background-color: #000000ba;
      }
      
      .loader {
        height: 20px;
        width: 250px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .loader--dot {
        animation-name: loader;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: black;
        position: absolute;
        border: 2px solid white;
      }
      .loader--dot:first-child {
        background-color: #8cc759;
        animation-delay: 0.5s;
      }
      .loader--dot:nth-child(2) {
        background-color: #8c6daf;
        animation-delay: 0.4s;
      }
      .loader--dot:nth-child(3) {
        background-color: #ef5d74;
        animation-delay: 0.3s;
      }
      .loader--dot:nth-child(4) {
        background-color: #f9a74b;
        animation-delay: 0.2s;
      }
      .loader--dot:nth-child(5) {
        background-color: #60beeb;
        animation-delay: 0.1s;
      }
      .loader--dot:nth-child(6) {
        background-color: #fbef5a;
        animation-delay: 0s;
      }
      .loader--text {
        position: absolute;
        top: 200%;
        left: 0;
        right: 0;
        width: 4rem;
        margin: auto;
        color: #ffffff;
      }
      .loader--text:after {
        content: "Loading";
        font-weight: bold;
        animation-name: loading-text;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
      @keyframes loader {
        15% {
          transform: translateX(0);
        }
        45% {
          transform: translateX(230px);
        }
        65% {
          transform: translateX(230px);
        }
        95% {
          transform: translateX(0);
        }
      }
      @keyframes loading-text {
        0% {
          content: "Loading";
        }
        25% {
          content: "Loading.";
        }
        50% {
          content: "Loading..";
        }
        75% {
          content: "Loading...";
        }
      }

      .no-cursor{
        cursor: not-allowed! important;
      }

      .thumb_doc{
        height:47px;width:auto;float:right;
      }

      .note-error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        text-align: center;
        border-radius: 5px;
      }
      
      .note-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        text-align: center;
        border-radius: 5px;
      }